# Local .terraform directories (contains downloads, binary plugins)
.terraform/

# .tfstate files (contains plain-text secrets and state history)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (likely to contain sensitive data or credentials)
*.tfvars
*.tfvars.json

# Ignore override files (used for local alterations, not checked into source control)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you explicitly wish to add to version control
# !override.tf

# CLI configuration files
.terraformrc
terraform.rc
